<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        
        <div style="border-top:3px solid #4285f4 !important;" class=" bg-white border border-top  p-3 col-md-4 col-sm-12">
          <div class="text-center">
            <img class="border border-dark rounded" src="../assets/img/logo.jpg" style="width:90px" alt="">
          </div>
          <h5 class="mt-3 text-center mb-3">Hệ thống quản lý bán hàng FEMI</h5>
          <p class="text-center">Đăng nhập vào hệ thống</p>
          <p-divider></p-divider>
          <form [formGroup]="form" (keyup.enter)="login()">
            <div class="form-group">
              <h6 class="d-block">Tên đăng nhập</h6>
              <span class="p-input-icon-left w-100">
                <i class="pi pi-user"></i>
                <input class="w-100" type="text" pInputText placeholder="Nhập tên đăng nhập" formControlName="username" />
              </span>
              <div
                class="mt-1"
                *ngIf="form.controls['username'].touched && form.controls['username'].getError('required')">
                <h6 class="text-danger">Tên đăng nhập là trường bắt buộc</h6>
              </div>
            </div>
            <div class="mt-3 form-group">
              <h6 class="d-block">Mật khẩu</h6>
              <span class="p-input-icon-left w-100">
                <i class="pi pi-key"></i>
                <input class="w-100" type="{{ passwordTextType ? 'text' : 'password' }}" pInputText placeholder="Nhập mật khẩu" formControlName="password" />
              </span>
              <div
                class="mt-1"
                *ngIf="form.controls['password'].touched && form.controls['password'].getError('required')">
                <h6 class="text-danger">Mật khẩu là trường bắt buộc</h6>
              </div>
            </div>
            <div class="mt-2 field-checkbox d-flex form-group">
              <p-checkbox [binary]="true" inputId="binary" (onChange)="togglePasswordTextType($event)"></p-checkbox>
              <h6 class="mb-0 ml-2" for="binary">Hiện mật khẩu</h6>
            </div>
            <div class="text-center d-flex justify-content-center w-100 mt-3">
              <ngx-recaptcha2 #captchaElem 
                [siteKey]="siteKey"
                formControlName="recaptcha">
              </ngx-recaptcha2>
            </div>
            <p-divider></p-divider>
            <div class="pt-1 pb-1">
              <h6 class="text-center font-weight-bold ">Bạn quên mật khẩu? <a href="" class="text-decoration-none text-danger">Quên mật khẩu</a></h6>
              <h6 class="text-center font-weight-bold ">Hướng dẫn quên mật khẩu <a href="" class=" text-decoration-none text-danger">Xem hướng dẫn</a></h6>
            </div>
            <div class="mt-3 d-flex justify-content-center">
              <button
                pButton
                pRipple
                type="button"
                label="Đăng nhập"
                class="p-button-raised w-100"
                [disabled]="form.invalid"
                (click)="login()"
                [loading]="isLogin"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  