<form [formGroup]="formGroup">
  <div class="d-flex justify-content-between">
    <div class="form-group ">
      <label>Tên sản phẩm</label>
      <span class="p-input-icon-left w-100">
        <i class="pi pi-shopping-bag"></i>
        <input class="w-100" type="text" pInputText placeholder="Nhập tên sản phẩm" formControlName="productName" />
      </span>
    </div>
    <div class="form-group">
      <label >Số lượng có</label>
      <span class="p-input-icon-left w-100">
        <i class="pi pi-database"></i>
        <input class="w-100" type="text" pInputText placeholder="Nhập số lượng có" formControlName="productTotal" />
      </span>
    </div>
  </div>
    <div class="form-group">
      <label >Giá sản phẩm</label>
      <span class="p-input-icon-left w-100">
        <i class="pi pi-credit-card
        "></i>
        <input class="w-100" type="text" pInputText placeholder="Nhập giá sản phẩm" formControlName="productPrice" />
      </span>
    </div>

    <div class="form-group">
      <label >Mô tả sản phẩm</label>
      <span class="p-input-icon-left w-100">
        
        <textarea pInputTextarea class="w-100" type="text"  formControlName="productDescription" ></textarea>
      </span>
    </div>

    <label >Ảnh minh họa</label>
    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onBasicUpload($event)" [auto]="true"></p-fileUpload>
  </form>