<div class="animated fadeIn">
    <nav style="background-color: #2196F3 ;" class="navbar border-bottom navbar-default navbar-fixed-top be-top-header">
        <div class="container-fluid d-flex justify-content-between">
            <div class="d-flex justify-content-between">
                <a href="" class="m-0 mr-3 text-white ">Hotline: 0964498713</a>
                <a href="" class="m-0 text-white ">Email: dovietdong2904@gmail.com</a>
            </div>
            <div class="d-flex justify-content-between">
                <a href="/login" class="m-0 mr-3 text-white ">Kênh người bán</a>
                <a href="" class="m-0 mr-3 text-white ">Đăng nhập</a>
                <a href="" class="m-0 mr-3 text-white ">Đăng ký</a>
                <a href="" class="m-0 text-white ">Liên hệ</a>
    
            </div>
        </div>
    </nav>
    <nav class="navbar border-bottom navbar-default bg-white navbar-fixed-top be-top-header">
        <div class="container-fluid d-flex justify-content-center">
            <div class="navbar-header d-flex justify-content-center align-items-center flex-column">
                <a href="/" class="navbar-brand d-block">
                    <img class="border border-dark rounded" src="../assets/img/logo.jpg" style="width:70px" alt="">
                </a>
                <div class="page-title">
                    <h5 class="m-0">"FEMI - Thư viện sách cho Người yêu sách"</h5>
                </div>
            </div>
            
        </div>
    </nav>
    
    <div class="app-body">
        <main class="main">
            <nav class="navbar pl-3 pr-3 border-bottom navbar-default bg-white navbar-fixed-top d-flex be-top-header">
                <ul class="justify-content-start  d-flex list-unstyled p-0 m-0"> 
                    <button
                        pButton
                        type="button"
                        class="p-button-sm m-0  p-button-text p-2 font-weight-bold"
                        label="TRANG CHỦ"
                    >
                    </button>
                    <button
                        pButton
                        type="button"
                        class="p-button-sm m-0  p-button-text p-2 font-weight-bold"
                        label="SẢN PHẨM"
                    >
                    </button>
                    <button
                        pButton
                        type="button"
                        class="p-button-sm m-0  p-button-text p-2 font-weight-bold"
                        label="TIN TỨC"
                    >
                    </button>
                    <button
                        pButton
                        type="button"
                        class="p-button-sm m-0  p-button-text p-2 font-weight-bold"
                        label="LIÊN HỆ"
                    >
                    </button>
                </ul>
    
                <div>
                    <button
                    class="p-button-text"
                        pButton
                        icon="pi pi-search"
                    ></button>
                    <button
                        class="btn btn-outline"
                    >
                        <i class="pi pi-shopping-bag" pBadge value="0"  severity="primary"></i>
                    </button>
                </div>
            </nav>
            <div class="container-fluid p-0 m-0">
                <router-outlet></router-outlet>
                <img class="w-100" src="https://bizweb.sapocdn.net/100/459/821/themes/868724/assets/slider_1.jpg?1657796605631" alt="">
            </div>
        </main>
    </div>
    
</div>